// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass here: https://sass-lang.com/

.tweet-card {
  background: lightgrey;
  width: 300px;
  padding: 10px;
}

.edit-tweet {
  padding: 5px;
  background-color: black;
  color: white !important;
  text-decoration: none !important;
  border-radius: 15px;
  width: 35px;
  margin-left: 5px;
  text-align: center
}
