<h2 class="location-header">View my locations</h2>
<div class='location-button'>
  <button id="start">Start</button>
  <button id="stop">Stop</button>
</div>
<div class="location-info">
  Current position: <span><%= @location_info[:current_loc].map(&:to_s).join(', ') %></span><br/>
  Updated at: <span><%= @location_info[:last_updated_at] %></span>
</div>

<div id="map" class="map" data-locations="<%= @location_info[:points].to_json %>"></div>
